DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/adventurehub?schema=public"
JWT_SECRET="zamijeni-sa-random-64-karaktera-string-u-produkciji"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
# Opcionalno - za mape:
# NEXT_PUBLIC_MAPBOX_TOKEN="pk.eyJ..."
